.main-container {
    display:flex;
    width:100%;
}

.media-container {
    width:60%;
}

.search-container {
    width:40%;
    display:flex;
    flex-direction: column;
    margin-right: 20px;
}

.search-container form{
    display:flex;
    flex-direction: column;
    width:50%;
}

header {
    border-bottom: 2px solid grey;
    margin-bottom: 20px;
}