.logo-container{
    display: flex;
    justify-content: center;
}

.form-container{
    margin:1px auto;
    display: flex;
    justify-content: center;
    background:#EEEEEE;
    padding:20px;
}

form{
    display:flex;
    flex-direction: column;
}

.footer-main{
    display: flex;
}

.footer-item-1{
    display: flex;
    flex-direction: column;
    background:#7EE5DA;
    width:40%;
    align-items: center;
    padding:10px;
    margin: 1px;
    justify-content: space-evenly;
}
.footer-item-2{
    display: flex;
    flex-direction: column;
    background:#70CCC2;
    width:20%;
    align-items: center;
    padding:10px;
    margin: 1px;
    justify-content: space-evenly;
}
.footer-item-3{
    display: flex;
    flex-direction: column;
    background:#62B3AA;
    width:40%;
    align-items: center;
    padding:10px;
    margin: 1px;
    justify-content: space-evenly;
}

.copyright-container{
    display:flex;
    justify-content: center;
    margin:30px;
}

.button{
    border-radius: 5px;
    background:#F6F6F2;
    padding:5px;
    margin:2px;
    border:1px solid lightskyblue;
}

input[type=text],input[type=email]{
    border:1px solid lightskyblue;
    padding:5px;
}
form > span, label{
    text-align-last:center;
}
